
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
     
        .Hero-image {
            background-image: url('../images/images/hero.jpg');
            height: 300px;
            background-size: cover;
            background-position: center;
            position: relative;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            display: flex;
            align-items: center;
            transition: transform 0.4s ease;
            cursor: pointer;
           }
        .Hero-image:hover {
            transform: scale(1.1);
        }
      
HEAD    
        .Hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }

                  body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
     
             nav ul {
            list-style: none;
            padding: 0;
            text-align: center;
        }
        nav ul li {
            display: inline;
            margin: 0 15px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
        }
        nav ul li a:hover {
            text-decoration: underline;
        }
        nav {
            background-color: #1613b4;
            padding: 10px 0;
            margin-bottom: 20px;
        }
        .Hero-image {
            height: 300px;
            background-size: cover;
            background-position: center;
            position: relative;
            margin-bottom: 20px;
        }
               .ticker-wrap {
            background-color: #1613b4;
            color: white;
            padding: 10px;
            overflow: hidden;
            height: 40px;
            display: flex;
            align-items: center;
        }  
        .review-ticker {
            display: inline-block;
            white-space: nowrap;
            box-sizing: border-box;
            width: 100%;
            background-color: #1613b4;
            color: white;
            padding: 10px 0;
            animation: ticker 25s linear infinite;
        }
        .review-ticker span {
            display: inline-block;
            padding: 0 2em;
            font-size: 16px;
        }
          @keyframes ticker {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(-100%);
            }
        } 